body, input, textarea, select {
  background-color: lightgrey;
}

input {
  width: 90;
}

.control-panel {
  position: absolute;
  left: 5px;
  top: 5px;
}

.JSON-buttons {
  position: absolute;
  right: 5px;
  top: 5px;
}

.tools-panel {
  position: relative;
  left: 37%;
  margin:auto;
  top: 15px;
}

.editor-table {
  margin: auto;
  margin-top: 10px;
  position: relative;
  top: 15px;
}
