#scoreboard {
  display: inline-block;
  position: relative;
}

#scoreText {
  top: 14%;
  text-align: center;
  margin-left: 0;
  color: darkred;
  font-family: courier;
  font-size: 150%;
  text-transform: uppercase;
  font-weight: 600;
}

.scorebCell {
  font-size: 125%;
}

.numberCell {
  text-align: center;
}

* {
  font-family: Areal;
}

.div-score {
  top: 7%;
  height: 7%;
  position: relative;
  text-align: center;
}