body {
  background-color: whitesmoke;
}

.div-table {
  margin: 20px auto 0 auto;
  padding: 0px;
}

.table {
  border: 1px solid darkgreen;
  border-collapse: collapse;
  background-color: black;
}

#gameDiv {
  margin: 0 auto;
}

#mainDiv {
  overflow: hidden;
}

.table-cell {
  text-align: center;
  overflow: hidden;
  border: 1px solid darkgreen;
  padding: 0;
  margin: 0;
}

.table-cell,
.table-cell img {
  width: 6vmin;
  height: 6vmin;
}

#table td {padding: 0px; margin: 0px;}
#table tr {padding: 0px; margin: 0px;}

.Points{
  border: 1px solid darkgreen;
  margin-left : 30%;
  margin-right: 30%;
}

.Points {
  text-align: center; 
  color: darkred; 
  font-family: courier;
  font-size: 150%;
  text-transform: uppercase;
  font-weight: 600;
}

.layer-background {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}

.layer-trajectory {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 20;
}

.layer-item-map {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 30;
}

.layer-item-fire-snow {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 31;
}

.layer-item-button {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 32;
}

.layer-item-food {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 33;
}

.layer-item-wall {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 34;
}

.layer-item-door {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 35;
}

.layer-unit {  
  top: 0;
  left: 0;
  position: absolute;
  z-index: 40;
}

.layer-arrow {  
  top: 0;
  left: 0;
  position: absolute;
  z-index: 45;
}

.layer-darkness {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 50;
}

td {
  position: relative;
}

input {
  text-align: center;
  display: inline-block;
}

.b-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: darkgreen;
  z-index: 50;
  display: block;
}

.b-popup-menu {
  margin-left: 25%;
  margin-top: 0;
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: 51;
  background-color: white;
  display: block;
  border: 5px saddlebrown;
  border-style: outset;
  position: fixed;
}

.b-popup-selectLevel {
  margin-left: 25%;
  margin-top: 0;
  height: 60%;
  width: 50%;
  position: absolute;
  z-index: 51;
  background-color: white;
  display: none;
  border: 5px saddlebrown;
  border-style: outset;
}

.b-pop-win {
  margin-left: 35%;
  text-align: center;
  margin-top: 0;
  height: 220px;
  width: 450px;
  position: absolute;
  z-index: 51;
  background-color: khaki;
  display:none;
  border: 5px goldenrod;
  border-style: outset;
}

.b-pop-lose {
  height: 500px;
  width: 450px;
  z-index: 51;
  background-color: khaki;
  border: 5px goldenrod;
  border-style: outset;
}

.div-main-buttom {
  position: relative;
  width: 100%;
  height: 50%;
  text-align: center;
}

buttonM{
  background-color: #4CAF50;
  color: white;
  padding: 5% 10%;
  width: 11%;
  height: 9%;
  text-align: center;
  text-decoration: none;
  display: table;
  font-size: 16px;
  border: 5px darkgreen;
  border-style: outset;
  position: relative;
  top: 20%;
  left: 35%;
}

buttonL {
  margin-left: 13%;
  margin-top: 10%;
  background-color: lingthgreen;
  color: white;
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-table;;
  font-size: 16px;
  border: 5px chocolate;
  border-style: outset;
}

buttonW {
  margin-left: 13%;
  margin-top: 10%;
  background-color: orangered;
  color: white;
  padding: 3% 10%;
  text-align: center;
  text-decoration: none;
  display: inline-table;
  font-size: 16px;
  border: 5px chocolate;
  border-style: outset;
}


buttonLose {
  margin-left: 30%;
  margin-top: 10%;
  background-color: orangered;
  color: white;
  padding: 3% 10%;
  text-align: center;
  text-decoration: none;
  display: inline-table;
  font-size: 16px;
  border: 5px chocolate;
  border-style: outset;
}

pw {
  margin-top: 10%;
  margin-left: 0%;
  text-align: center;
  font-size: 50px;
}

pl {
  margin-left: 15%;
  font-size: 75px;
  text-align: center;
  color : black;

}

* {
  font-family: Areal;
}

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}

.b-popup-notification {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  position: fixed;
  z-index: 59;
  top: 0px;
}

.b-popup-notification
.b-popup-content-notification {
  margin: 40px auto 0px auto;
  text-align: center;
  width: 100%;
  height: 5%;
  padding: 10px;
  background-color: #c5c5c5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}

.centerDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welGameBtn {
}

.div-tableScore {
  top: 10%;
  margin: 0 0 0 0;
  position: relative;
  height: 80%;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

pw {
  margin-top: 10%;
  margin-left: 0%;
  text-align: center;
  font-size: 50px;
}

p {
  font-size: 70px;
  text-align: center;
  color : black;
}

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}

p1 {
  text-align: center; 
  color: darkred; 
  font-family: courier;
  font-size: 150%;
  text-transform: uppercase;
  font-weight: 600;
}

.github-button {
  height: 64px;
  padding: 0 15px;
  display: table-cell;
  vertical-align: middle;
}

.github-button iframe {
  display: block;
}
