body {
  background-color: whitesmoke;
}

.div-table {
  top: 10%;
  position: relative;
  height: 80%;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.table {
  table-layout: fixed;
  border: 1px solid darkgreen;
  border-collapse: collapse;
  display: inline-block;
  position: relative;
  background-color: black;/*#5aa02c;*/
}

.table-cell {
  text-align: center;
  width: 50;
  height: 50;
  border: 0px solid darkgreen;
  padding: 0px;
  margin: 0px;
}

#table td {padding: 0px; margin: 0px;}
#table tr {padding: 0px; margin: 0px;}

.Points{
  border: 1px solid darkgreen;
  margin-left : 30%;
  margin-right: 30%;
}

p {
  color: darkred;
  margin-left: 40%;
  font-family: courier;
  font-size: 150%;
  text-transform: uppercase;
  font-weight: 600;
}

.layer-background {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.layer-trajectory {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.layer-staticItem {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
}

.layer-unit {  
  top: 0;
  left: 0;
  position: absolute;
  z-index: 4;
}

td {
  position: relative;
}